/* NEW STYLE */
$dark-cyan: #173e43;
$soft-brown: #4b4737;
$soft-yellow: #fae596;
$soft-cyan: #3fb0ac;
$soft-beige: #b1ab99;
$gray: #dddfd4;

/* BG Colors */
$primary: #0f0f0f;
$secondary: #191919;
$separator: #2c2c2c;

/* Text Colors */
$white: #fff;
$black: #000;
$orange: #ffd23a;
// $orange: #e95420;

/* Others */
$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 320px;

/* Media break poins */

$screen-1465: 1465px;
$screen-1435: 1435px;
$screen-1375: 1375px;
$screen-1300: 1300px;
$screen-1030: 1030px;
$screen-990: 990px;
$screen-950: 950px;
$screen-650: 650px;

$screen-2465: 2465px;
$screen-2275: 2275px;
$screen-2010: 2010px;
$screen-1920: 1920px;
$screen-1740: 1740px;
$screen-1680: 1680px;
$screen-1600: 1600px;
$screen-1550: 1550px;
$screen-1530: 1530px;
$screen-1500: 1500px;
$screen-1440: 1440px;
$screen-1400: 1400px;
$screen-1366: 1366px;
$screen-1280: 1280px;
$screen-1024: 1024px;
$screen-915: 915px;
$screen-896: 896px;
$screen-875: 875px;
$screen-851: 851px;
$screen-844: 844px;
$screen-820: 820px;
$screen-800: 800px;
$screen-768: 768px;
$screen-740: 740px;
$screen-718: 718px;
$screen-667: 667px;
$screen-500: 500px;
$screen-414: 414px;
$screen-393: 393px;
$screen-390: 390px;
$screen-375: 375px;
$screen-360: 360px;

$screen1-bp: 2365px;
$screen2-bp: 2085px;
$screen3-bp: 1795px;
$screen7-bp: 1651px;
$screen8-bp: 1600px;
$screen9-bp: 1540px;
$screen4-bp: 1505px;
$screen-hd-bp: 1368px;
$screen5-bp: 1215px;
$screen6-bp: 925px;
$screen896-bp: 896px;

$ipad-pro-bp: 1024px;
$surface-pro-bp: 915px;
$iphone-xr-rotate-bp: 896px;
$iphone12-rotate-bp: 864px;
$realme-bp: 834px;
$ipad-bp: 768px;
$noname-bp: 744px;
$iphone6-rotate-bp: 667px;
$screen-px646: 646px;
$surface-bp: 540px;
$screen-px514: 514px;
$iphone-xr-bp: 414px;
$fold-bp: 280px;
