<!DOCTYPE html>
<html lang="ru">
	<head>
		{{> head }}
	</head>

	<body>
		<div class="page" id="page" onhashchange="getProjectData()">
			<div class="layout-header">
				<div class="container">{{> header }}</div>
			</div>
			<div class="upper-bg"></div>
			<div class="layout-sidebar">{{> sidebar}}</div>

			<main class="layout-content">
				<div class="container">{{> body }}</div>
			</main>

			<div class="layout-footer">
				<div class="lower-bg"></div>
				{{> footer}}
			</div>
		</div>

		<script src="assets/js/main.js"></script>
		<script defer type="text/javascript">
			$(document).ready(function () {
				getProjectData();
			});
		</script>
	</body>
</html>
