.stat-tabs {
	margin-top: 3rem;

	&__row {
		width: 100%;
		display: grid;
		background-color: transparent;
		border: 1px solid rgba($orange, 0.5);
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		justify-items: center;
		align-content: center;
		padding: 2rem;
		gap: 2rem;
		border-radius: 10px;
	}

	&__btn {
		display: inline-block;
		width: 100%;
		background-color: lighten($secondary, 5%);
		color: inherit;
		font-weight: 500;
		text-align: center;
		padding: 1rem 4.3rem;
		border: none;
		border-radius: 10px;
		transition-duration: 0.3s;
		text-transform: uppercase;

		&:hover {
			background-color: $orange;
			color: #2c2c2c;
		}

		&:active {
			background-color: darken($orange, 10%);
			color: #2c2c2c;
		}
	}

	&__btn--active {
		background-color: $orange;
		color: #2c2c2c;
	}

	&__content {
		margin-top: 3rem;
		width: 100%;
		height: 100%;
	}

	&__content-item {
		display: none;
	}

	&__content-item--show {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		grid-gap: 1.5rem;
		margin-bottom: 2rem;
		justify-items: center;
	}

	&__content-text {
		font-size: 1.4rem;
		font-weight: 400;

		&--form,
		&--formbar {
			display: block;
			width: 100%;
			background-color: #2a2a2a;
			padding: 0.5rem 1rem;
			border-radius: 10px;
			font-size: 1.2rem;
			text-align: center;
		}

		&--form {
			max-width: 90px;
		}

		&--formbar {
			max-width: 140px;
		}

		&--form-active,
		&--formbar-full {
			background-color: $orange;
		}
	}
}

.tabs_mobile {
	&__item {
		flex-wrap: wrap;
		background-color: $secondary;
		padding: 1rem;
		overflow: hidden;
		border-radius: 5px;
		border: 1px dashed rgba(#ccc, 0.2);

		&--index {
			display: flex;
			background-color: lighten($secondary, 4%);
			border-radius: 50%;
			width: 15px;
			height: 15px;
			align-items: center;
			justify-content: center;
			padding: 1.1rem;
			margin-bottom: 1rem;
			font-size: 1.1rem;
			font-weight: 500;
			color: $orange;
		}
	}

	&__item--show {
		display: flex;
	}

	&__definitions {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-between;
	}

	&__definition-item {
		background-color: lighten($secondary, 4%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		flex-wrap: wrap;
		overflow: hidden;
		border-radius: 5px;

		&--date,
		&--date2,
		&--amount,
		&--address,
		&--transurl,
		&--transid,
		&--blockH,
		&--miner,
		&--effort,
		&--status,
		&--reward,
		&--confirmations {
			width: 100%;
		}

		&--blockH,
		&--date2,
		&--effort,
		&--status,
		&--reward,
		&--confirmations {
			width: 48%;
		}

		&--transid {
			flex-wrap: wrap;
		}
	}

	&__term {
		font-size: 1.1rem;
		color: lighten($separator, 10%);
	}

	&__definition {
		font-size: 1.3rem;
		color: #ccc;
		word-break: break-all;
	}

	&__item-link {
		text-decoration: none;
		color: $orange;

		transition-duration: 0.2s;

		&:hover {
			color: darken($orange, 8%);
			padding-bottom: 0.1rem;
			border-bottom: 1px dotted $orange;
		}

		&:active {
			color: #ccc;
			border-bottom: 1px dotted #ccc;
		}
	}
}
