<footer class="footer">
	<div class="footer__inner">
		<div class="footer__menu">
			<h4 class="footer__menu-title">Social Links</h4>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://t.me/PacmanCoinMain"
						target="_blank"
						rel="noopener noreferrer"
					>
						EN Telegram
					</a>
				</li>
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://discord.gg/JFwaENGDxy"
						target="_blank"
						rel="noopener noreferrer"
					>
						Discord
					</a>
				</li>
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://twitter.com/PACMan_Token"
						target="_blank"
						rel="noopener noreferrer"
					>
						Twitter
					</a>
				</li>
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://t.me/PacmanCoinRU"
						target="_blank"
						rel="noopener noreferrer"
					>
						RU Telegram
					</a>
				</li>
			</ul>
		</div>

		<div class="footer__menu">
			<h4 class="footer__menu-title">PACMan Links</h4>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://pacman.pw/"
						target="_blank"
						rel="noopener noreferrer"
					>
						Website
					</a>
				</li>
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://coinstaking.space/"
						target="_blank"
						rel="noopener noreferrer"
					>
						Staking $OCTA
					</a>
				</li>
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://stakingpacman.pw/"
						target="_blank"
						rel="noopener noreferrer"
					>
						Staking $PAC
					</a>
				</li>
				<li class="footer__menu-item">
					<a
						class="footer__menu-link"
						href="https://solopacman.pw/"
						target="_blank"
						rel="noopener noreferrer"
					>
						SOLO Staking $PAC
					</a>
				</li>
			</ul>
		</div>

		<div class="footer__menu">
			<h4 class="footer__menu-title">Pool</h4>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/faq"> FAQ </a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/support"> Support </a>
				</li>
			</ul>
		</div>
	</div>

	<div class="footer__copyright">
		<span class="footer__copyright-main">
			Crypto Mining Pool •&nbsp;
			<a class="footer__copyright-link" href="/"> PACMan-Pool.pw </a>
			&nbsp;© 2023
		</span>
		<span class="footer__copyright-contact">
			contact with us:&nbsp;
			<a class="footer__contact-link" href="mailto:coin.pacman@gmail.com">
				support@altcoinpool.ru
			</a>
		</span>
	</div>
</footer>
