<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__menu">
				<h4 class="footer__menu-title">Social Links</h4>
				<ul class="footer__menu-list">
					<li class="footer__menu-item">
						<a
							class="footer__menu-link footer__menu-link--socials"
							href="https://discord.gg/9bMsbPqc2Y"
							target="_blank"
							rel="noopener noreferrer"
						>
							Discord
						</a>
					</li>
					<li class="footer__menu-item">
						<a
							class="footer__menu-link footer__menu-link--socials"
							href="https://t.me/Altcoin_Pool"
							target="_blank"
							rel="noopener noreferrer"
						>
							Telegram
						</a>
					</li>
					<li class="footer__menu-item">
						<a
							class="footer__menu-link footer__menu-link--socials"
							href="https://www.youtube.com/@favoritcoin"
							target="_blank"
							rel="noopener noreferrer"
						>
							Youtube
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__menu">
				<h4 class="footer__menu-title">Exchanges</h4>
				<ul class="footer__menu-list">
					<li class="footer__menu-item">
						<a
							class="footer__menu-link"
							href="https://www.binance.com/ru/activity/referral-entry/CPA?fromActivityPage=true&ref=CPA_00R4L8FW7V"
							target="_blank"
							rel="noopener noreferrer"
						>
							Binance
						</a>
					</li>
					<li class="footer__menu-item">
						<a
							class="footer__menu-link"
							href="https://www.bybit.com/invite?ref=Q7AQPZ"
							target="_blank"
							rel="noopener noreferrer"
						>
							ByBit
						</a>
					</li>
					<li class="footer__menu-item">
						<a
							class="footer__menu-link"
							href="https://www.huobi.com/ru-ru/v/register/double-invite/?inviter_id=11345710&invite_code=whzk3223"
							target="_blank"
							rel="noopener noreferrer"
						>
							Huobi
						</a>
					</li>
					<li class="footer__menu-item">
						<a
							class="footer__menu-link"
							href="https://www.mexc.com/register?inviteCode=1FBhS"
							target="_blank"
							rel="noopener noreferrer"
						>
							MEXC
						</a>
					</li>
					<li class="footer__menu-item">
						<a
							class="footer__menu-link"
							href="https://www.okx.com/join/58968629"
							target="_blank"
							rel="noopener noreferrer"
						>
							OKEx
						</a>
					</li>
					<li class="footer__menu-item">
						<a
							class="footer__menu-link"
							href="https://www.gate.io/signup/5552193"
							target="_blank"
							rel="noopener noreferrer"
						>
							Gate
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__menu">
				<h4 class="footer__menu-title">Support</h4>
				<ul class="footer__menu-list">
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="/faq"> FAQ </a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="/support"> Support </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		<span class="footer__copyright-main">
			Crypto Mining Pool •&nbsp;
			<a class="footer__copyright-link" href="/"> PACMan-Pool.pw </a>
			&nbsp;© 2023
		</span>
		<span class="footer__copyright-contact">
			contact with us:&nbsp;
			<a class="footer__contact-link" href="mailto:support@altcoinpool.ru">
				support@altcoinpool.ru
			</a>
		</span>
	</div>
</footer>
